# Ignore all files in the .git directory
.git/*

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Virtual Environments
.venv/
venv/
ENV/

# Poetry
poetry.lock
dist/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

.pytest_cache/

.mypy_cache/

.env

.venv/

# Specific to bayesbrainGPT
bayesbrainGPT/**/__pycache__/