<!DOCTYPE html>
<html>
<head>
    <title>AIcons Chat Interface</title>
    <link rel="stylesheet" href="https://use.typekit.net/[your-kit-code].css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @font-face {
            font-family: "ITC Avant Garde Gothic";
            src: url("https://use.typekit.net/af/578452/00000000000000003b9b0438/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Babel / Aicons</h1>
        
        <div class="chat-panel">
            <div id="chat-history"></div>
            <div class="chat-input">
                <textarea id="message-input" placeholder="Type your message..."></textarea>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html> 